h1 {
    color: #000000;
    font-weight: 800;
    margin-left: 5%;
    font-size: 5vw;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* prevent scrolling */
    font-family: Arial, sans-serif;
    font-weight: 800;
}

.background-image {
    position: fixed; /* position it fixed to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/group3/group3_image2.png');
    background-size: cover; 
    background-position: center;
    z-index: -1; /* behind the canvas */
}

button {
    padding: 10px 20px;
    border: none;
}


#languageToggleButton {
    display: flex;
    cursor: pointer;
    border: none; 
    background: none;
    position: fixed;
    top: 5%; 
    right: 10%; 
    background: none;
}

.language-image{
    width: 6vh;
}

.control-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-left: 70%; 
}

.play-button {
    width: 20vw;
    height: 20vw;
    cursor: pointer;
    margin-left: 70%; 
    margin: 0;
}

.play-text {
    font-size: 3vw; 
    color: #000000;
    margin-top: 1vh;
    font-weight: bold; 
}
/* container styles */
#controls {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    background-color: rgba(242, 242, 242, 0.7);
    border-radius: 20px;
    height: 40vh;
    width: 85vw;
    margin-top: 10vh; 
    margin-left: 5%;
    box-shadow: 0px 0px 8px #5c5c5c;
}

.back-button {
    width: 8vh; 
    height: auto; 
    cursor: pointer;
    margin-top: 20px; 
    margin-left: 5%;   
    position: relative; 
    left: 2vw;  
    top: 5vh;
}

label {
    font-size: 3vw;
    margin-top: 0px;
    color: #000000;
}

#canvasContainer {
    background-color: transparent;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px; 
    margin-left: 5%;
    
}

.text-display {
    color: #000000; 
    font-size: 4vw; 
    margin: 0 10px; 
}

/* footer styles */
.body-foot {
    width: 100%;
    background-color: transparent;
    padding: 20px;
    position: fixed; 
    bottom: 0; 
}

.foot-bottom {
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.foot-content {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.school-icon {
    width: 30px; 
    height: auto;
    margin-right: 10px; 
}
